appnope==0.1.0
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
certifi==2015.11.20.1
colorama==0.3.6
decorator==4.0.9
functools32==3.2.3.post2
fuzzywuzzy==0.9.0
gnureadline==6.3.3
-e git+git@bitbucket.org:plumdeq/grontocrawler.git@af250bd741c0f2ff9e5516f16194785c3f224e3e#egg=grontocrawler
html5lib==0.9999999
ipykernel==4.3.0
ipython==4.1.1
ipython-genutils==0.1.0
ipywidgets==4.1.1
isodate==0.5.4
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.1.1
jupyter-core==4.0.6
keepalive==0.5
MarkupSafe==0.23
mistune==0.7.2
nbconvert==4.1.0
nbformat==4.0.1
networkx==1.11
notebook==4.1.0
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5.1
py==1.4.31
Pygments==2.1.1
pyparsing==2.1.0
pytest==2.8.7
python-Levenshtein==0.12.0
pyzmq==15.2.0
qtconsole==4.2.0
rdfextras==0.4
rdflib==4.2.1
rdflib-sparqlstore==0.2
rdflib-sqlalchemy==0.2.dev0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
SPARQLWrapper==1.7.6
SQLAlchemy==1.0.8
terminado==0.6
tornado==4.3
traitlets==4.1.0
wheel==0.29.0
